## pandas 다중 인덱스(multi index) 연습문제

필요 모듈 임포트

In [1]:
import pandas as pd
import numpy as np

In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity= 'all'

#### 1. 다음과 같이 다중인덱스를 갖는 데이터프레임을 생성하시오.

- 행인덱스 레벨 = 2
- 열인덱스 레벨 = 2
- 데이터 크기는 (6,4)이며 값은 (0,1) 사이의 난수를 갖음
- 인덱스는 MultiIndex를 생성하는 방법을 사용

In [22]:
data = np.random.rand(6,4)
columns = pd.MultiIndex.from_product([['A','B'],['C1','C2']])
index = pd.MultiIndex.from_product([['M','F'], ['id1', 'id2', 'id3']])
df = pd.DataFrame(data, index=index, columns=columns)
df

              A                   B
             C1        C2        C1        C2
M id1  0.292406  0.874738  0.426876  0.973449
  id2  0.201600  0.121708  0.395800  0.290762
  id3  0.603354  0.112273  0.730184  0.546017
F id1  0.821678  0.634890  0.508971  0.488279
  id2  0.622231  0.496881  0.341596  0.818204
  id3  0.647979  0.620405  0.192439  0.353790

#### 2. df의 'A'열을 출력하시오.

In [9]:
df.A

             C1        C2
M id1  0.417729  0.218694
  id2  0.531365  0.589716
  id3  0.546709  0.296904
F id1  0.551030  0.207536
  id2  0.197911  0.405184
  id3  0.625647  0.017012

#### 3. df의 'F'행을 출력하시오.

In [11]:
df.loc['F']

            A                   B
           C1        C2        C1        C2
id1  0.551030  0.207536  0.152961  0.399302
id2  0.197911  0.405184  0.862442  0.900718
id3  0.625647  0.017012  0.319025  0.847477

#### 4. df의 'A'열의 'C1'열을 출력하시오.

In [12]:
df.A.C1

M  id1    0.417729
   id2    0.531365
   id3    0.546709
F  id1    0.551030
   id2    0.197911
   id3    0.625647
Name: C1, dtype: float64

#### 5. df의 'M'행의  'id1'행을 출력하시오.

In [13]:
df.loc['M'].loc['id1']

A  C1    0.417729
   C2    0.218694
B  C1    0.497568
   C2    0.664738
Name: id1, dtype: float64

#### 6. df의 ('M', 'id1')행 'A'열을 출력하시오.

In [26]:
df['A'].loc[('M', 'id1')]

C1    0.292406
C2    0.874738
Name: (M, id1), dtype: float64

#### 7. df의 ('M', 'id1')행 ('A','C1')열 요소를 출력하시오.

In [27]:
df[('A','C1')].loc[('M', 'id1')]

0.29240555488608977

#### 8. df의 4행 4열의 요소를 출력하시오.

In [29]:
df.iloc[3,3]

0.4882792099218133

#### 9. df의 4행 4열의 요소를 10으로 변경하시오.

In [18]:
df.iloc[3,3] = 10
df.iloc[3,3]

10.0

-----