In [1]:
import pandas as pd

In [26]:
randm = pd.read_excel('data/전국관광지정보표준데이터.xlsx')
all_home = pd.read_csv('data/전국 숙박업 정보.csv', encoding='CP949')
home2023 =pd.read_csv('data/지역별 숙박시설 관련 키워드 정보(202309).csv', encoding='utf-8')
home1 =pd.read_csv('data/fulldata_03_11_01_P_관광숙박업.csv', encoding='CP949')

C:\Users\gillhk\AppData\Local\Temp\ipykernel_24392\2750483394.py:2: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  all_home = pd.read_csv('data/전국 숙박업 정보.csv', encoding='CP949')

In [6]:
randm.columns

Index(['관광지명', '관광지구분', '소재지도로명주소', '소재지지번주소', '위도', '경도', '면적', '공공편익시설정보',
       '숙박시설정보', '운동및오락시설정보', '휴양및문화시설정보', '접객시설정보', '지원시설정보', '지정일자', '수용인원수',
       '주차가능수', '관광지소개', '관리기관전화번호', '관리기관명', '데이터기준일자', '제공기관코드', '제공기관명'],
      dtype='object')

In [9]:
randm['숙박시설정보'].isna().sum()

625

In [11]:
randm['위도'].isna().sum()

0

In [10]:
randm['경도'].isna().sum()

0

In [19]:
randm[['관광지명', '관광지구분','소재지지번주소', '위도', '경도']]

                    관광지명 관광지구분                 소재지지번주소         위도          경도
0    일제 경성호국신사 계단(108계단)   관광지   서울특별시 용산구 용산동2가 1-346  37.546023  126.982542
1                   찬바람재   관광지    서울특별시 용산구 용산동2가 7-99  37.534815  126.987014
2    옛 남영동 대공분실(민주인권기념관)   관광지      서울특별시 용산구 갈월동 98-8  37.541012  126.971634
3     옛 용산공설시장(현 남영아케이드)   관광지      서울특별시 용산구 남영동 28-8  37.543723  126.972924
4                  전쟁기념관   관광지       서울특별시 용산구 용산동1가 8  37.537314  126.978466
..                   ...   ...                     ...        ...         ...
919               팔봉산관광지   관광지                     NaN  37.703098  127.695183
920             소노벨비발디파크  관광단지                     NaN  37.652337  127.687335
921              오전약수관광지   관광지  경상북도 봉화군 물야면 오전리 95-35  37.012095  128.745721
922              다덕약수관광지   관광지  경상북도 봉화군 봉성면 우곡리 505-5  36.914122  128.827323
923                다도박물관   관광지     경기도 김포시 월곶면 개곡리 832  37.737504  126.574437

[924 rows x 5 columns]

In [18]:
randm[['관광지명', '관광지구분','소재지지번주소', '위도', '경도']].isna().sum()

관광지명         0
관광지구분        0
소재지지번주소    145
위도           0
경도           0
dtype: int64

In [17]:
randm['소재지도로명주소'].isna().sum()

75

In [21]:
randm['관광지구분'].unique()

array(['관광지', '관광단지'], dtype=object)

In [27]:
all_home.head(3)

,번호,개방서비스명,개방서비스아이디,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태구분코드,영업상태명,상세영업상태코드,...,한실수,양실수,조건부허가신고사유,조건부허가시작일자,조건부허가종료일자,건물소유구분명,여성종사자수,남성종사자수,다중이용업소여부,Unnamed: 44
0,1,숙박업,03_11_03_P,3620000,3620000-201-2005-00005,2005-08-18,NaN,1,영업/정상,1,...,8.0,24.0,NaN,NaN,NaN,임대,NaN,NaN,N,NaN
1,2,숙박업,03_11_03_P,3620000,3620000-201-2000-00013,2000-06-15,NaN,1,영업/정상,1,...,1.0,41.0,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
2,3,숙박업,03_11_03_P,3620000,3620000-214-1985-00002,1985-11-19,NaN,1,영업/정상,1,...,8.0,8.0,NaN,NaN,NaN,자가,NaN,NaN,N,NaN

In [28]:
all_home.columns

Index(['번호', '개방서비스명', '개방서비스아이디', '개방자치단체코드', '관리번호', '인허가일자', '인허가취소일자',
       '영업상태구분코드', '영업상태명', '상세영업상태코드', '상세영업상태명', '폐업일자', '휴업시작일자', '휴업종료일자',
       '재개업일자', '소재지전화', '소재지면적', '소재지우편번호', '소재지전체주소', '도로명전체주소', '도로명우편번호',
       '사업장명', '최종수정시점', '데이터갱신구분', '데이터갱신일자', '업태구분명', '좌표정보(x)', '좌표정보(y)',
       '위생업태명', '건물지상층수', '건물지하층수', '사용시작지상층', '사용끝지상층', '사용시작지하층', '사용끝지하층',
       '한실수', '양실수', '조건부허가신고사유', '조건부허가시작일자', '조건부허가종료일자', '건물소유구분명',
       '여성종사자수', '남성종사자수', '다중이용업소여부', 'Unnamed: 44'],
      dtype='object')

In [30]:
all_home['업태구분명'].unique()

array(['여관업', '숙박업(생활)', '일반호텔', '여인숙업', '숙박업 기타', '관광호텔', '휴양콘도미니엄업',
       nan], dtype=object)

In [33]:
home1.head(3)

,번호,개방서비스명,개방서비스아이디,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태구분코드,영업상태명,상세영업상태코드,...,안내소유무,기획여행보험시작일자,기획여행보험종료일자,자본금,보험시작일자,보험종료일자,부대시설내역,시설규모,관광숙박업상세명,Unnamed: 64
0,1,관광숙박업,03_11_01_P,4600000,CDFI2260032007000001,2007-04-02,NaN,2,휴업,2,...,NaN,NaN,NaN,1.500000e+09,NaN,NaN,NaN,452.0,관광호텔업,NaN
1,2,관광숙박업,03_11_01_P,4530000,CDFI2260032018000001,2018-05-11,NaN,2,휴업,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,관광호텔업,NaN
2,3,관광숙박업,03_11_01_P,3470000,CDFI2260031989000001,1989-04-14,NaN,2,휴업,2,...,NaN,NaN,NaN,0.000000e+00,NaN,NaN,NaN,9999.0,관광호텔업,NaN

In [36]:
home1.columns

Index(['번호', '개방서비스명', '개방서비스아이디', '개방자치단체코드', '관리번호', '인허가일자', '인허가취소일자',
       '영업상태구분코드', '영업상태명', '상세영업상태코드', '상세영업상태명', '폐업일자', '휴업시작일자', '휴업종료일자',
       '재개업일자', '소재지전화', '소재지면적', '소재지우편번호', '소재지전체주소', '도로명전체주소', '도로명우편번호',
       '사업장명', '최종수정시점', '데이터갱신구분', '데이터갱신일자', '업태구분명', '좌표정보(x)', '좌표정보(y)',
       '문화체육업종명', '문화사업자구분명', '지역구분명', '총층수', '주변환경명', '제작취급품목내용', '보험기관명',
       '건물용도명', '지상층수', '지하층수', '객실수', '건축연면적', '영문상호명', '영문상호주소', '선박총톤수',
       '선박척수', '선박제원', '무대면적', '좌석수', '기념품종류', '회의실별동시수용인원', '시설면적', '놀이기구수내역',
       '놀이시설수', '방송시설유무', '발전시설유무', '의무실유무', '안내소유무', '기획여행보험시작일자',
       '기획여행보험종료일자', '자본금', '보험시작일자', '보험종료일자', '부대시설내역', '시설규모', '관광숙박업상세명',
       'Unnamed: 64'],
      dtype='object')

In [40]:
home1['영업상태명'].unique()

array(['휴업', '폐업', '영업/정상', '취소/말소/만료/정지/중지'], dtype=object)

In [44]:
home1 = home1[home1['영업상태명'] == '영업/정상']
home1['사업장명'].isna().sum()

0