## Numpy 연습문제2

In [1]:
import numpy as np

#### 1. 값 20~49를 갖는 벡터 x  생성하기

In [13]:
x = np.arange(20,50)

#### 2. 1번에서 생성한 벡터 요소를 역순으로 갖는 벡터 출력하기

In [3]:
x[::-1]

array([49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33,
       32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20])

#### 3. 다음의 코드의 실행 결과를 예상해보기

**1)**

In [4]:
0 * np.nan

nan

**2)**

In [5]:
np.nan == np.nan

False

**3)**

In [6]:
np.nan - np.nan

nan

**4)**

In [7]:
np.inf > np.nan

False

**5)**

In [2]:
np.nan in set([np.nan])

True

#### 4. 모두 1의 요소를 갖는 5X3 크기 행렬 A와 3X2 크기 행렬 B 생성하기

In [6]:
A = np.ones((5,3))
B = np.ones((3,2))

#### 5. 4번에서 생성한 두 행렬의 곱(dot)을 한 결과는?

In [9]:
np.dot(A,B) # = A.dot(B)

array([[3., 3.],
       [3., 3.],
       [3., 3.],
       [3., 3.],
       [3., 3.]])

#### 6. 다음의 결과를 예상하시오.

**1)**

In [10]:
np.array(0) / np.array(0)

1.0

**2)**

In [17]:
np.array(0) // np.array(0)

C:\Users\gillhk\AppData\Local\Temp\ipykernel_20564\2018018105.py:1: RuntimeWarning: divide by zero encountered in floor_divide
  np.array(0) // np.array(0)

0

**3)**

In [19]:
np.array([np.nan]).astype(int).astype(float)

C:\Users\gillhk\AppData\Local\Temp\ipykernel_20564\699728972.py:1: RuntimeWarning: invalid value encountered in cast
  np.array([np.nan]).astype(int).astype(float)

array([-2.14748365e+09])

#### 7. 1번에서 생성한 벡터에서 30에서 38사이의 모든 요소 가져오기

In [15]:
(x>29) & (x<39)

array([False, False, False, False, False, False, False, False, False,
       False,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False, False, False, False, False, False, False, False,
       False, False, False])

In [14]:
x[(x>29) & (x<39)]

array([30, 31, 32, 33, 34, 35, 36, 37, 38])

#### 8. 크기 10의 실수 랜덤 벡터를 생성하고, 최대값을 0으로 변경하기

In [11]:
a = np.random.rand(10)
a[a.argmax()]=0
a

array([0.5526014 , 0.33438535, 0.03229989, 0.74633242, 0.16563063,
       0.38213174, 0.        , 0.27192386, 0.79467936, 0.90330444])

#### 9. 1에서 10사이의 실수를 등간격으로 50개 갖는 벡터를 생성하되 32비트 실수로 생성하기

In [48]:
b = np.linspace(1,10,50,dtype='float32')

#### 10. 9번에서 생성한 벡터를 32비트 정수형으로 변환하기

In [49]:
b.astype(int)

array([ 1,  1,  1,  1,  1,  1,  2,  2,  2,  2,  2,  3,  3,  3,  3,  3,  3,
        4,  4,  4,  4,  4,  5,  5,  5,  5,  5,  5,  6,  6,  6,  6,  6,  7,
        7,  7,  7,  7,  7,  8,  8,  8,  8,  8,  9,  9,  9,  9,  9, 10])

#### 11. 2022년 12월에 해당하는 모든 날짜를 갖는 벡터 생성하기

- 힌트 : arange()함수 사용하되 데이터 유형을 'datetime64[D]'로 지정할 것

In [22]:
np.arange('2022-12','2023-01',dtype='datetime64[D]')

array(['2022-12-01', '2022-12-02', '2022-12-03', '2022-12-04',
       '2022-12-05', '2022-12-06', '2022-12-07', '2022-12-08',
       '2022-12-09', '2022-12-10', '2022-12-11', '2022-12-12',
       '2022-12-13', '2022-12-14', '2022-12-15', '2022-12-16',
       '2022-12-17', '2022-12-18', '2022-12-19', '2022-12-20',
       '2022-12-21', '2022-12-22', '2022-12-23', '2022-12-24',
       '2022-12-25', '2022-12-26', '2022-12-27', '2022-12-28',
       '2022-12-29', '2022-12-30', '2022-12-31'], dtype='datetime64[D]')

#### 12. 오늘의 날짜를 생성하고, 어제, 내일의 날짜 생성해보기
- 힌트 : np.datetime64('today'), np.timedelta64() 사용

In [19]:
np.datetime64('today')

numpy.datetime64('2024-03-19')

In [23]:
# 내일
np.datetime64('today')+np.timedelta64(1)

numpy.datetime64('2024-03-20')

In [24]:
# 어제
np.datetime64('today')-np.timedelta64(1)

numpy.datetime64('2024-03-18')

----