## 데이터프레임 인덱싱 연습문제

In [1]:
# 모듈 import
import pandas as pd
import numpy as np

In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity="all"

### 연습문제 #1. loc을 이용한 인덱싱

In [3]:
df = pd.DataFrame(np.arange(10,22).reshape(3,4),
                 index='a b c'.split(),
                 columns = 'A B C D'.split())
df

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  18  19  20  21

#### 문제1. a행의 모든 열 가져오기

**1) a행의 모든 열을 시리즈로 가져오기**

In [4]:
df.loc['a']

A    10
B    11
C    12
D    13
Name: a, dtype: int32

**2) a행의 모든 열을 데이터프레임으로 가져오기**

In [5]:
df.loc[['a']]

    A   B   C   D
a  10  11  12  13

**3) loc[]을 사용하지 않고 데이터프레임 기본 인덱싱방법을 사용하여 a행의 모든 열 가져오기**

In [6]:
df['a':'a']

    A   B   C   D
a  10  11  12  13

#### 문제2. a행의 B,C 열 가져오기

In [7]:
df.loc['a',['B','C']]

B    11
C    12
Name: a, dtype: int32

#### 문제3. b행부터 그 이후 모든 행의 A열 가져오기

In [9]:
df.loc['b':,'A']

b    14
c    18
Name: A, dtype: int32

#### 문제4. a,b행의 B,C,D열 가져오기

: 두 가지 이상의 방식을 사용할 것

In [10]:
df.loc[['a','b'],['B','C','D']]

    B   C   D
a  11  12  13
b  15  16  17

In [13]:
df[['B','C','D']]['a':'b']

    B   C   D
a  11  12  13
b  15  16  17

#### 문제5. a,c 행의 B,D열 가져오기

In [14]:
df.loc[['a','c'],['B','D']]

    B   D
a  11  13
c  19  21

In [15]:
df.iloc[[0,2],[1,3]]

    B   D
a  11  13
c  19  21

----------------------------------------------

### 연습문제 #2

#### 문제1. 모든 행과 열에 라벨을 가지는 5행 5열 이상 크기의 데이터프레임을 생성하기

- 최대한 간단한 코드로 작성할 것
- 예. numpy의 난수발생함수나 arange() 등 정수배열 생성함수 이용

In [19]:
# 5행 5열 크기의 데이터 프레임 생성
df = pd.DataFrame(np.arange(25).reshape(5, 5), 
                  columns=['A', 'B', 'C', 'D', 'E'])
df

    A   B   C   D   E
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24

#### 문제2. 다음의 데이터프레임에 대하여 조건에 맞는 요소 가져오기

- 요소 추출을 위해 가능하면 2가지 이상의 방법(loc, iloc, 기본인덱싱)을 사용하고, 
- 어떤 방식을 사용하였고, 반환형식이 무엇인지 코드에 주석달기

**1) A열 추출**

In [20]:
df.loc[:,'A']

0     0
1     5
2    10
3    15
4    20
Name: A, dtype: int32

In [21]:
df['A']

0     0
1     5
2    10
3    15
4    20
Name: A, dtype: int32

**2) 0행부터 2행까지 추출**

In [23]:
df[0:3]

    A   B   C   D   E
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14

In [24]:
df.iloc[0:3]

    A   B   C   D   E
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14

**3) 1행의 3,4열 추출**

In [30]:
df.loc[0,['C','D']]

C    2
D    3
Name: 0, dtype: int32

In [32]:
df.iloc[0,[2,3]]

C    2
D    3
Name: 0, dtype: int32

**4) a행에서 c행까지 중 B열과 D열 추출**

In [33]:
df.loc[0:2,'B':'D']

    B   C   D
0   1   2   3
1   6   7   8
2  11  12  13

In [37]:
df.iloc[0:3,1:4]

    B   C   D
0   1   2   3
1   6   7   8
2  11  12  13

**5) 끝에서 두번째 행부터 마지막행까지 추출**

In [44]:
df2.iloc[-2:]

    A   B   C   D   E
d  15  16  17  18  19
e  20  21  22  23  24

In [39]:
df2.loc['d':'e']

    A   B   C   D   E
d  15  16  17  18  19
e  20  21  22  23  24

**6) a행의 A열부터 B열을 시리즈로 추출**

In [47]:
df2.loc['a','A':'B']

A    0
B    1
Name: a, dtype: int32

In [46]:
df2.iloc[0,0:2]

A    0
B    1
Name: a, dtype: int32

**7) a행의 A열부터 B열까지 데이터프레임으로 추출**

In [48]:
df2.loc[['a'],'A':'B']

   A  B
a  0  1

In [49]:
df2.iloc[0:1,0:2]

   A  B
a  0  1

**8) 끝에서 두번째 행부터 마지막 행까지에서 끝에서 두번째 열부터 마지막 열까지 요소 추출**

In [50]:
df2.iloc[-2:,-2:]

    D   E
d  18  19
e  23  24

In [62]:
df2.loc['d':'e'][['D','E']]

    D   E
d  18  19
e  23  24

--------