# 데이터프레임 연습문제

### 1. 패키지 임포트

In [1]:
# 필요 패키지 import
import pandas as pd
import numpy as np

### 2. 데이터프레임 생성

#### 1) 다음의 조건을 만족하는 데이터프레임을 생성하시오.

- 데이터(values) : numpy 패키지의 randn 함수를 이용해서 난수 n 개 생성
- 행방향 인덱스(index) : date_range()를 이용한 날짜 데이터
- 열방향 인덱스(column) : ['A','B','C','D']
- 데이터프레임 이름 : df1

In [2]:
rand=np.random.randn(4,5)
data = {
    'A': rand[0],
    'B': rand[1],
    'C': rand[2],
    'D': rand[3]
}

df1 = pd.DataFrame(data, index = pd.date_range(start='2022-10-01',end='2022-10-05'))
df1

                   A         B         C         D
2022-10-01  1.567540 -0.364805 -0.073714  0.775802
2022-10-02 -0.088175  0.642129  0.657320 -0.381036
2022-10-03 -0.187548 -0.369616 -0.453898  1.370156
2022-10-04  0.571376  1.161356  0.737791 -1.015015
2022-10-05 -0.966852 -1.301494 -1.126869  1.240856

#### 2) 다음 결과와 같은 데이터프레임을 생성하시오.

In [3]:
data ={ '나이':[22,60.1,170.5,'남','서울'],
'몸무게':	[45,51.3,157.3,'여','부산'],
'키':	[22,68.3,180.1,'남','대구'],
'성별':	[33,88.3,190.2,'남','제주'],
'주소':	[27,48.3,160.1,'여','강릉']}
data ={ '나이':[22,45,22,33,27],
'몸무게':	[60.1,51.3,68.3,88.3,48.3],
'키':	[170.5,157.3,180.1,190.2,160.1],
'성별':	['남','여','남','남','여'],
'주소':	['서울','부산','대구','제주','강릉']}
df2 = pd.DataFrame(data, index=[	'홍길동',	'이몽룡',	'성춘향',	'변학도',	'김연아'])
df2

     나이   몸무게      키 성별  주소
홍길동  22  60.1  170.5  남  서울
이몽룡  45  51.3  157.3  여  부산
성춘향  22  68.3  180.1  남  대구
변학도  33  88.3  190.2  남  제주
김연아  27  48.3  160.1  여  강릉

### 3. 데이터프레임 전치

- 문제2의 2) 데이터프레임 df2를 전치 후 df3로 저장하고 원본과 비교 출력하시오.

In [4]:
df3 = df2.T
df3

       홍길동    이몽룡    성춘향    변학도    김연아
나이      22     45     22     33     27
몸무게   60.1   51.3   68.3   88.3   48.3
키    170.5  157.3  180.1  190.2  160.1
성별       남      여      남      남      여
주소      서울     부산     대구     제주     강릉

### 4. 인덱싱 문제

#### 1) 다음 데이터프레임을 생성하시오.

- 데이터는 딕셔너리를 이용하여 df4로 생성하시오.

In [5]:
data = {'국어':[80,	90,	70,30],	'영어':[90,70,60,40],'수학':[90,60,80,70]}
df4 = pd.DataFrame(data, index=['춘향','몽룡','향단','방자'])
df4

    국어  영어  수학
춘향  80  90  90
몽룡  90  70  60
향단  70  60  80
방자  30  40  70

#### 1) 모든 학생의 수학 점수를 시리즈로 나타낸다.

In [6]:
# 모든 학생의 수학 점수를 시리즈로 나타낸다.
df4['수학']

춘향    90
몽룡    60
향단    80
방자    70
Name: 수학, dtype: int64

#### 2) 모든 학생의 국어와 영어 점수를 데이터 프레임으로 나타낸다.

In [7]:
# 모든 학생의 국어와 영어 점수를 데이터 프레임으로 나타낸다.
df4[['국어','영어']]

    국어  영어
춘향  80  90
몽룡  90  70
향단  70  60
방자  30  40

#### 3) 모든 학생의 각 과목 평균 점수를 새로운 열로 추가한다.

In [8]:
# 모든 학생의 각 과목 평균 점수를 새로운 열로 추가한다.
df4['평균 점수'] = [np.mean(df4[['국어','영어','수학']]['춘향':'춘향']),
               np.mean(df4[['국어','영어','수학']]['몽룡':'몽룡']),
               np.mean(df4[['국어','영어','수학']]['향단':'향단']),
              np.mean(df4[['국어','영어','수학']]['방자':'방자'])]
df4

    국어  영어  수학      평균 점수
춘향  80  90  90  86.666667
몽룡  90  70  60  73.333333
향단  70  60  80  70.000000
방자  30  40  70  46.666667

#### 4) 방자의 영어 점수를 80점으로 수정하고 평균 점수도 다시 계산한다.

In [9]:
# 방자의 영어 점수를 80점으로 수정하고 평균 점수도 
# 다시 계산한다.
df4['영어']['방자'] = 80
df4['평균 점수']['방자'] = np.mean(df4[['국어','영어','수학']]['방자':'방자'])
df4

C:\Users\gillhk\AppData\Local\Temp\ipykernel_23780\1821030304.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['영어']['방자'] = 80
C:\Users\gillhk\AppData\Local\Temp\ipykernel_23780\1821030304.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['평균 점수']['방자'] = np.mean(df4[['국어','영어','수학']]['방자':'방자'])

    국어  영어  수학      평균 점수
춘향  80  90  90  86.666667
몽룡  90  70  60  73.333333
향단  70  60  80  70.000000
방자  30  80  70  60.000000

#### 5) 몽룡의 점수를 데이터프레임으로 나타낸다.

In [10]:
# 몽룡의 점수를 데이터 프레임으로 나타내는 경우
df4['몽룡':'몽룡']

    국어  영어  수학      평균 점수
몽룡  90  70  60  73.333333

#### 6) 향단의 점수를 시리즈로 나타낸다.

In [11]:
# 향단의 점수 시리즈로
# 시리즈는 열방향 데이터일 경우에 추출 가능
df4.T['향단']

국어       70.0
영어       60.0
수학       80.0
평균 점수    70.0
Name: 향단, dtype: float64