## 데이터 통합 및 변형 연습문제

필요 모듈 임포트

In [24]:
import numpy as np
import pandas as pd

#### house 폴더에 있는 세 도시의 가구별 데이터 파일들을 사용하여 도시별 데이터프레임을 생성하시오.

- 나주시

In [137]:
naju = pd.read_csv('../data/house/나주시_주택현황 및 보급률(2004~2020).csv', encoding='CP949', header=[0,1,2])

In [136]:
naju

   행정구역(시군)별(1)     2004                                                  \
   행정구역(시군)별(1) 가구수 (가구) 주택수 (호) 주택수 (호).1 주택수 (호).2 주택수 (호).3 주택수 (호).4
0  행정구역(시군)별(1)       소계      소계      단독주택       아파트      연립주택     다세대주택
1           나주시    40506   41522     33063      7204       497        96

                            2005  ...      2019     2020                    \
    주택수 (호).5 주택보급률 (%) 가구수 (가구)  ... 주택보급률 (%) 가구수 (가구) 주택수 (호) 주택수 (호).1
0  비거주용 건물내주택        소계       소계  ...        소계       소계      소계      단독주택
1         662     102.5    40506  ...     104.1    58025   59643     29587


    주택수 (호).2 주택수 (호).3 주택수 (호).4 주택수 (호).5   주택수 (호).6 주택보급률 (%)
0  단독주택_다가구주택       아파트      연립주택     다세대주택  비거주용 건물내주택        소계
1        3578     28612       291       539         614     102.8

[2 rows x 151 columns]

In [35]:
naju.columns= [col.split('.')[0] for col in naju.columns]

In [28]:
naju.drop(columns='행정구역(시군)별(1)', inplace =True)

In [74]:
naju1 = naju.T.reset_index().set_index(['index',0,1])

In [75]:
naju1.unstack(level='index')

                          2                                                   \
index                  2004   2005   2006   2007   2008   2009   2010   2011
0         1
가구수 (가구)  소계          40506  40506  41172  41277  41000  40733  41284  40700
주택보급률 (%) 소계          102.5  102.8  103.5  104.4  104.5  105.3  103.9  100.7
주택수 (호)   다세대주택          96     10    206    169    209    217    217    155
          단독주택        33063  33178  32885  32856  32834  32864  32830  31176
          단독주택_다가구주택    NaN    NaN    NaN      2      7     18     34   1282
          비거주용 건물내주택    662    662    696   1250    963    971    965    655
          소계          41522  41653  42626  43112  42843  42889  42905  40993
          아파트          7204   7223   8345   8345   8345   8345   8401   8596
          연립주택          497    580    494    492    492    492    492    411

                                                                              \
index                  2012   2013   2014   2015   2016   2017   2018   2019
0         1
가구수 (가구)  소계          40841  41274  42886  46444  52007  52303  54872  56090
주택보급률 (%) 소계          104.4  114.5  105.0  107.7  109.1  105.8  105.9  104.1
주택수 (호)   다세대주택         330    545    513   1276    601    482    539    539
          단독주택        32531  37066  32947  32958  31080  29558  29650  29840
          단독주택_다가구주택    668    817   1518   4060    256   2769   3019   3301
          비거주용 건물내주택    584     40    611      -   1070    632    636    608
          소계          42622  47272  45041  50030  56762  55321  58133  58412
          아파트          8685   9358  10723  14906  23519  24093  27001  27134
          연립주택          492    263    247    890    492    556    307    291


index                  2020
0         1
가구수 (가구)  소계          58025
주택보급률 (%) 소계          102.8
주택수 (호)   다세대주택         539
          단독주택        29587
          단독주택_다가구주택   3578
          비거주용 건물내주택    614
          소계          59643
          아파트         28612
          연립주택          291

,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
구분,,,,,,,,,,,,,,,,,,
일반가구수(A)(가구),40506.0,40506.0,41172.0,41277.0,41000.0,40733.0,41284.0,40700.0,40841.0,41274.0,42886.0,46444,52007.0,52303.0,54872.0,56090.0,58025.0,59292
주택보급률(B)/(A)*100(%),102.5,102.8,103.5,104.4,104.5,105.3,103.9,100.7,104.4,114.5,105.0,107.7,109.1,105.8,105.9,104.1,102.8,108
다세대주택(호),96.0,10.0,206.0,169.0,209.0,217.0,217.0,155.0,330.0,545.0,513.0,1276,601.0,482.0,539.0,539.0,539.0,539
단독주택,33063.0,33178.0,32885.0,32856.0,32834.0,32864.0,32830.0,31176.0,32531.0,37066.0,32947.0,32958,31080.0,29558.0,29650.0,29840.0,29587.0,29952
다가구주택(호),NaN,NaN,NaN,2.0,7.0,18.0,34.0,1282.0,668.0,817.0,1518.0,4060,256.0,2769.0,3019.0,3301.0,3578.0,3925
비거주용건물내주택(호),662.0,662.0,696.0,1250.0,963.0,971.0,965.0,655.0,584.0,40.0,611.0,-,1070.0,632.0,636.0,608.0,614.0,609
주택수(B)(호),41522.0,41653.0,42626.0,43112.0,42843.0,42889.0,42905.0,40993.0,42622.0,47272.0,45041.0,50030,56762.0,55321.0,58133.0,58412.0,59643.0,63928
아파트(호),7204.0,7223.0,8345.0,8345.0,8345.0,8345.0,8401.0,8596.0,8685.0,9358.0,10723.0,14906,23519.0,24093.0,27001.0,27134.0,28612.0,28612
연립주택(호),497.0,580.0,494.0,492.0,492.0,492.0,492.0,411.0,492.0,263.0,247.0,890,492.0,556.0,307.0,291.0,291.0,291

- 서산시

In [109]:
seosan1 = pd.read_csv('../data/house/서산시_주택현황 및 보급률(2002~2007).csv', encoding='CP949')
seosan2 = pd.read_csv('../data/house/서산시_주택현황 및 보급률(2008~2012).csv', encoding='CP949')
seosan3 = pd.read_csv('../data/house/서산시_주택현황 및 보급률(2013~2022).csv', encoding='CP949')

In [110]:
seosan1.drop(columns='행정구역(시군)별(1)', inplace =True)
seosan2.drop(columns='행정구역(시군)별(1)', inplace =True)
seosan3.drop(columns='행정구역(읍면동)별(1)', inplace =True)

In [111]:
seosan1.columns= [col.split('.')[0] for col in seosan1.columns]
seosan2.columns= [col.split('.')[0] for col in seosan2.columns]
seosan3.columns= [col.split('.')[0] for col in seosan3.columns]

In [112]:
seosan1.join(seosan2, how='outer')
seosan4 = seosan1.join(seosan3, how='outer')

In [113]:
seosan4

,2002,2002,2002,2002,2002,2002,2002,2002,2002,2003,...,2021,2022,2022,2022,2022,2022,2022,2022,2022,2022
0,세대수 (세대),주택수 (호),주택수 (호),주택수 (호),주택수 (호),주택수 (호),주택수 (호),주택수 (호),주택보급률 (%),세대수 (세대),...,주택보급률 (%),일반가구수 (가구),주택수 (호),주택수 (호),주택수 (호),주택수 (호),주택수 (호),주택수 (호),주택수 (호),주택보급률 (%)
1,소계,소계,단독주택,다가구주택,아파트,연립주택,다세대주택,비거주용건물내주택,소계,소계,...,소계,소계,소계,단독주택,단독주택,아파트,연립주택,다세대주택,비거주용 건물내 주택,소계
2,50286,49394,28887,135,16293,1543,2536,1358,98.2,47864,...,소계,소계,소계,소계,다가구주택,소계,소계,소계,소계,소계
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,99.47,76382,76189,23351,1442,45034,2104,4854,846,99.75
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-,-,-,-,-,-,-,-,-,-
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-,-,-,-,-,-,-,-,-,-
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-,-,-,-,-,-,-,-,-,-
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-,-,-,-,-,-,-,-,-,-
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-,-,-,-,-,-,-,-,-,-
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-,-,-,-,-,-,-,-,-,-
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-,-,-,-,-,-,-,-,-,-
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-,-,-,-,-,-,-,-,-,-
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-,-,-,-,-,-,-,-,-,-
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-,-,-,-,-,-,-,-,-,-
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-,-,-,-,-,-,-,-,-,-
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-,-,-,-,-,-,-,-,-,-
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-,-,-,-,-,-,-,-,-,-
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-,-,-,-,-,-,-,-,-,-

In [115]:
seosan4.T.reset_index().set_index(['index',0,1])

                                 2      3    4    5    6    7    8    9   10  \
index 0         1
2002  세대수 (세대)  소계           50286    NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
      주택수 (호)   소계           49394    NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
                단독주택         28887    NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
                다가구주택          135    NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
                아파트          16293    NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
...                            ...    ...  ...  ...  ...  ...  ...  ...  ...
2022  주택수 (호)   아파트             소계  45034    -    -    -    -    -    -    -
                연립주택            소계   2104    -    -    -    -    -    -    -
                다세대주택           소계   4854    -    -    -    -    -    -    -
                비거주용 건물내 주택     소계    846    -    -    -    -    -    -    -
      주택보급률 (%) 소계              소계  99.75    -    -    -    -    -    -    -

                              11   12   13   14   15   16   17
index 0         1
2002  세대수 (세대)  소계           NaN  NaN  NaN  NaN  NaN  NaN  NaN
      주택수 (호)   소계           NaN  NaN  NaN  NaN  NaN  NaN  NaN
                단독주택         NaN  NaN  NaN  NaN  NaN  NaN  NaN
                다가구주택        NaN  NaN  NaN  NaN  NaN  NaN  NaN
                아파트          NaN  NaN  NaN  NaN  NaN  NaN  NaN
...                          ...  ...  ...  ...  ...  ...  ...
2022  주택수 (호)   아파트            -    -    -    -    -    -    -
                연립주택           -    -    -    -    -    -    -
                다세대주택          -    -    -    -    -    -    -
                비거주용 건물내 주택    -    -    -    -    -    -    -
      주택보급률 (%) 소계             -    -    -    -    -    -    -

[146 rows x 16 columns]

In [129]:
seosan4.T.unstack(level=[0,1])

IndexError: Too many levels: Index has only 1 level, not 2

,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
구분,,,,,,,,,,,,,,,,,,,,,
일반가구수(A)(가구),NaN,NaN,NaN,38771.0,38980.0,39161.0,51585.0,51945.0,58274.0,60287.0,...,63902.00,65135.00,63431.00,70991.00,72469.00,75091.0,76748.00,72765.00,75485.00,76382.00
세대수,50286.0,47864.0,48548.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
주택보급률(B)/(A)*100(%),98.2,101.0,100.2,122.0,135.0,144.0,120.0,120.0,99.4,108.4,...,111.38,111.65,118.79,112.56,113.05,118.2,117.83,100.42,99.47,99.75
다가구주택(호),135.0,186.0,250.0,NaN,875.0,897.0,6173.0,6480.0,8312.0,9590.0,...,12703.00,13641.00,14728.00,16137.00,16653.00,17418.0,17693.00,1445.00,1442.00,1442.00
다세대주택(호),2536.0,1574.0,1673.0,2269.0,2435.0,2451.0,2459.0,2483.0,1744.0,2058.0,...,2435.00,2594.00,4161.00,4496.00,4514.00,4583.0,4602.00,4779.00,4783.00,4854.00
단독주택,28887.0,25234.0,25363.0,23211.0,23208.0,23057.0,28502.0,28844.0,27002.0,20780.0,...,34215.00,35493.00,36557.00,39799.00,38536.00,39673.0,40491.00,23270.00,23264.00,23351.00
비거주용건물내주택(호),1358.0,1352.0,1379.0,808.0,810.0,1057.0,1057.0,1067.0,737.0,581.0,...,679.00,722.00,761.00,892.00,1235.00,1263.0,1287.00,831.00,837.00,846.00
주택수(B)(호),49394.0,48320.0,48636.0,47398.0,52626.0,56374.0,61827.0,62203.0,57918.0,65343.0,...,71176.00,72722.00,75347.00,79906.00,81923.00,88761.0,90434.00,73069.00,75088.00,76189.00
아파트(호),16293.0,18105.0,18121.0,18571.0,23634.0,27170.0,27170.0,27170.0,25920.0,28345.0,...,30983.00,31025.00,31844.00,32652.00,35629.00,41356.0,42168.00,42092.00,44139.00,45034.00
연립주택(호),1543.0,3221.0,3229.0,2539.0,2539.0,2639.0,2639.0,2639.0,2515.0,2764.0,...,2864.00,2888.00,2024.00,2067.00,2009.00,1886.0,1886.00,2097.00,2065.00,2104.00

- 충주시

In [130]:
chung1= pd.read_csv('../data/house/충주시_주택현황 및 보급률(2003~2020).csv', encoding='CP949')
chung2= pd.read_csv('../data/house/충주시_주택현황 및 보급률(2019~2021).csv', encoding='CP949')

In [131]:
chung1

,시군별(1),2003,2003.1,2003.2,2003.3,2003.4,2003.5,2003.6,2003.7,2003.8,...,2019.8,2020,2020.1,2020.2,2020.3,2020.4,2020.5,2020.6,2020.7,2020.8
0,시군별(1),일반가구수(A) (가구),주택수(B) (호),단독주택 (호),단독주택 (호),아파트 (호),연립주택 (호),다세대주택 (호),비거주용건물내주택 (호),주택보급률(B)/(A)*100 (%),...,주택보급률(B)/(A)*100 (%),일반가구수(A) (가구),주택수(B) (호),단독주택 (호),단독주택 (호),아파트 (호),연립주택 (호),다세대주택 (호),비거주용건물내주택 (호),주택보급률(B)/(A)*100 (%)
1,시군별(1),소계,소계,소계,다가구주택,소계,소계,소계,소계,소계,...,소계,소계,소계,소계,다가구주택,소계,소계,소계,소계,소계
2,충주시,69066,66622,32075,285,30493,3882,172,-,96.0,...,120.2,93082,109721,42990,19237,53732,3028,4963,5008,117.9

,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
구분,,,,,,,,,,,,,,,,,,,
다세대주택(호),172,512,312,382.0,423.0,455.0,462.0,490.0,895.0,1743.0,2404.0,3084.0,4471.0,4682.0,4867.0,4881.0,4903.0,4963.0,5012
다가구주택(호),285,3605,2070,10068.0,10555.0,11095.0,70042.0,2155.0,13916.0,15218.0,16475.0,17292.0,16602.0,17229.0,17917.0,18285.0,19168.0,19237.0,19439
단독주택,32075,32741,30575,37441.0,29568.0,38577.0,39096.0,38901.0,41459.0,42972.0,44334.0,45357.0,43270.0,44185.0,44909.0,45362.0,46247.0,42990.0,46552
비거주용건물내주택(호),-,-,-,964.0,964.0,964.0,964.0,690.0,0.0,NaN,NaN,NaN,1501.0,1507.0,1522.0,1547.0,1574.0,5008.0,1627
아파트(호),30493,30890,31811,32591.0,35820.0,37005.0,37013.0,38064.0,38118.0,38206.0,38225.0,39448.0,39908.0,41652.0,42806.0,48981.0,52629.0,53732.0,54313
연립주택(호),3882,3882,3406,3454.0,3700.0,3742.0,3742.0,3661.0,3673.0,3713.0,3729.0,3693.0,2772.0,2772.0,2785.0,2810.0,3028.0,3028.0,3027
일반가구수(A)(가구),69066,72769,53866,53462.0,52716.0,70037.0,69669.0,77015.0,78443.0,79689.0,80954.0,82239.0,83585.0,85152.0,86367.0,88711.0,90191.0,93082.0,95350
주택보급률(B)/(A)*100(%),96.0,93.0,123.0,140.0,134.0,115.2,117.0,106.2,107.3,108.7,109.6,111.4,110.0,111.3,112.2,116.8,120.2,117.9,116
주택수(B)(호),66622,68025,66104,74832.0,70475.0,80743.0,81277.0,81806.0,84145.0,86634.0,88692.0,91582.0,91922.0,94798.0,96889.0,103581.0,108381.0,109721.0,110531

----